*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    display: flex;
}
.left-block{
    
}
#image{
    
}
.left-block .top-text{
    
}
.left-block .bottom-text {
    
}