*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#container{
    display: flex;
}
.left-block{
    
}
#image{
    width: 500px;
    height: 500px; /* You must set a specified height */
    background-size: cover; 
    position: relative;
}
.left-block .top-text{
    position: absolute;
    top: 0;
    font-size: 4em;
    text-align: center;
    width: 100%;
}
.left-block .bottom-text {
    position: absolute;
    bottom: 0;
    font-size: 4em; 
    text-align: center;
    width: 100%;
}

.right-block a{
    color: black;
    text-decoration: none;
}