#container{
    display: flex;
}
.left-block{
    position: relative;
}
#image{
    width: 100%;
}
.top-text{
    position: absolute;
    width: calc(#image - 100%);
    color: white;
    top: 0px;
    text-align: center;
    font-size: 4em;
}
.bottom-text{
    position: relative;
}